body {
    background-color: rgb(10, 9, 9);
}

@media screen and (max-width: 768px) {
    body {
      background-color: rgb(78, 12, 43);
    }

    aside,
    .container {
      width: 400px;
    }


  }

  .card-header {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
  }
  
.card-body {
  color: white;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

.card {
  margin-top: 130px;
  background-color: rgb(143, 197, 211);

}

aside {
  z-index: 1;
}